.class-registration-layout {
  display: table;
  margin: 10px;
}

.class-registration-column {
  display: table-cell;
  margin: 5px;
}

.pretty-table {
  margin: 15px;
}

.pretty-table tr,th {
  padding: 5px;
}

.courses-search-input {
  text-align: center;
}

.course-row:hover {
  cursor: hand;
  background-color: rgba(0,0,0,.25);
}

.selected-row {
  cursor: hand;
  background-color: rgba(0,0,0,0.25);
}